# Files created by IDEs
.vscode

# The big boi
node_modules

# Mac moment
.DS_Store
*/.DS_Store

# Notes for local testing stuff
notes

# Sensitive files
users.csv

# DB login
db_login.cmd
db-login.cmd

# Auto-documentation
out
