/*This would be code for your gui.*/

button{
    font-size: 25pt;
    margin: 10px;
}

.flex-container{
    display: inline-flex;
    flex-wrap: wrap;
    border: solid black 2px;
    border-radius: 15px;
    margin: 10px;
}

#menu-items{
    width: 70%;
    height: 700px;
}

#receipt{
    width: 25%;
    height: 700px;
    flex-direction: column;
    align-items: center;
    position: fixed;
    font-size: 15pt;
}