#employees-window {
    flex-grow: 2;
    gap: 1rem;
    flex-direction: column;
    align-content: flex-start;
    overflow-y: scroll;
    border-radius: 1rem 0 0 1rem;
    min-width: 40%;
    max-width: 40%;
    max-height: calc(100% - 2rem);
}

#modify-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.employee {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #eee;
    height: 4rem;
    width: 100%;
    color: #000;
}

.employee-property {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
}

.employee-name {
    flex-grow: 1;
    text-align: left;
    font-size: 1rem;
}

.property-name {
    font-size: 0.8rem;
}

.property-value {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    width: 75%;
    height: 100%;
    text-align: center;
    border-radius: 10rem;
}

.employee-type {
    width: 8rem;
}

#modify-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

input {
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid #aaa;
    padding: 1rem;
}

.confirm-button {
    height: 2rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
}

#confirm-changes {
    background-color: rgb(170, 255, 199);
}

#fire-employee {
    background-color: rgb(255, 170, 170);
}

#fire-employee:hover {
    background-color: rgb(255, 131, 131);
    box-shadow: 0 0 1.5rem -0.5rem rgb(255, 131, 131);
}

#fire-employee:active {
    background-color: rgb(255, 100, 100) !important;
}

#promote-employee {
    background-color: rgb(249, 255, 170);
}

#promote-employee:hover {
    background-color: rgb(253, 255, 131);
    box-shadow: 0 0 1.5rem -0.5rem rgb(253, 255, 131);
}

#promote-employee:active {
    background-color: rgb(252, 255, 100) !important;
}

#add-employee {
    min-width: 20%;
    max-width: 20%;
    max-height: calc(100% - 2rem);
}

#confirm-add:enabled {
    background-color: rgb(170, 255, 199);
}

#match-message {
    font-size: 0.85rem;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    color: rgb(180, 61, 61);
}